<!DOCTYPE html>
<html lang="en"><i class="fas fa-upload"></i>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>EmotionPulse AI</title>
    <link rel='stylesheet' href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <div class="container">
        <header class="header"><h1>Welcome to EmotionPulse AI</h1>
        <p>Detecting Emotion from Speech with Machine Leaning</p>
        </header>

        <main class="content-area">
            <div class="card input-card upload-section">
                <h2>Upload Audio</h2>
                <input type="file" id="audiofile" accept="audio\*">
                <button id="uploadButton" class="btn primary-btn">Analyze File</button>
            </div>

            <div class="seperator">
                <span class="or-text">OR</span>
            </div>

            <div class="card input-card mic-section">
                <h2><i class="fas fa-microphone-alt"></i>Record Live Speech</h2>
                <div class="mic-controls">
                    <button id="recordButton" class="btn primary-btn">Start Recoding</button>
                    <button id="stopButton" class="btn secondary-btn" disabled>Shavel</button>
                </div>
                <p id="statusText" class="recording status-text">Press "Start Recording" to begin...</p>
            </div>

        </main>
        <section class="result-section card">
            <h2>Predicted Emotion</h2>
            <p id="emotionResult" class="emotion-display" >The Predicted Emotion will appear here</p>
        </section>
    </div>
    <script src="https://kit.fontawesome.com/your-font-awesome-kit-id.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/app.js')}}"></script>
</body>
</html>